body {
    /*background: #5CDB95*/
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

.no-res {
    text-align: center;
}

.navbar {
    background: #CD140A;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: black
}

.jumbotron {
    background: #97CAEF;
}

.movies-head {
    text-align: center;
}

